* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
  }

  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .darkBackground {
    background-color: #1C304A;
    color: #FFFFFF;
  }

  .lightBackground {
    background-color: #B3EFFF;
    color: #046B99;
  }

  .accentBackground{
    background-color: #00CFFF;
    color: #000000;
  }

  nav {
      width: 100%;
      height: 5%;
      padding-top: 2px;
  }

  .navbar-container ul{
    display: flex;
    list-style: none;
  }

  .navbar-container li{
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
    font-size: 12px;
  }

  header {
      width: 100%;
      height: 95%;
      display: flex;
  }

  header img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  header h1 {
    position: absolute;
    top: 80%;
    font-size: 20px;
  }

  main {
    height: 750px;
  }

  section {
    width: 100%;
    height: 250px;
  }
  
  footer {
    height: 25px;
    font-size: 16px;
    margin-right: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  @media only screen and (min-width: 1250px) and (min-height: 750px) {
    .flexbox-container{
          display: flex;
          flex-wrap: wrap;
    }
    nav {
        width: 50%;
        height: 100%;
    }

    .navbar-container {
        margin: 5px;
        transform: rotate(270deg);
    }

      header {
        width: 50%;
        height: 100%;
    }
  }